@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Кузів Олексій Павлович</p>
<p>Телефон: (067)70-61-665</p>
<address>
    <strong>Email:</strong> <a >kuzivoles@gmail.com</a><br>
</address>
