@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Директор: Гринкевич Володимир Миронович</p>
<p>Телефон: (03548)21545</p>
<address>
    <strong>Email:</strong> <a href="">Address</a><br>
</address>
