@model journal.ViewModels.ContactUsViewModel
@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@if (TempData["notice"] != null)
{
<h3 style="color:red">@TempData["notice"]</h3>
}

<form action="/Home/Contact" method="post">
    <div class=" form-group">
        First name: <input type="text" name="FirstName" required oninvalid="this.setCustomValidity('Please enter valid FirstName')" oninput="setCustomValidity('')" />
        
        Last name: <input type="text" name="LastName" required oninvalid="this.setCustomValidity('Please enter valid LastName')" oninput="setCustomValidity('')">
        
        @*Email: <input type="email" name="Emaul" placeholder="someone@example.com" required oninvalid="this.setCustomValidity('Please enter valid Email')" oninput="setCustomValidity('')">*@
        
        Description:  <textarea name="Description" rows="4" cols="50" maxlength="250"> </textarea>
        <div class="image">
            <input type="submit" value="Submit" class="submit btn btn-default" />
        </div>
    </div>
</form>










<!--<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<!--<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>-->