@{
    ViewBag.Title = "Home Page";
}
   

<div class="row">
   
        <div class="col-md-2">
            <h2>School Info</h2>
            <img src="~/Images/2014-02-11.jpg">
        </div>
    </div>
    <p>
        Даний сайт є так званим щоденником для учнів.
        На цьому сайті батьки можуть переглянути успішність своєї дитини, написати до викладача,
        якщо в них будуть певні запитання по заданій домашній роботі чи оцінці, поставленій їхній дитині.
        Учень має право тільки перегляду своїх оцінок.
        Батьки, як і учні мають право прочитати все про предмет, який вони вивчають,
        а також про ранги вчителя, який в них буде вести це заняття, а також переглянути успішність своєї дитини.
        Вчитель має право ставити оцінки даному учневі за кожен урок, і за  певні періоди часу, а також ставити підсумкові оцінки.
    </p>
