@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/Home.css" >
   

<div class="row">
    <div class="col-md-4">
        <h2>School Info</h2>
        <img src="~/Images/2014-02-11.jpg">
    </div>
    <div id="data" class="row">
        <div class="col-md-12">
            <p>
                <a href="Home/SchoolInfo">Створити нове поле</a>
            </p>

            <table class="table-striped">
                <tr>
                    <th>Name</th>
                    <th>Decsription</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td><a href="Home/SchoolEdit/@item.Id">Редагувати</a></td>
                    </tr>
                }
            </table>
            </div>
        </div>
        </div>
