@{
    @ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/Home.css" >
   

<div class="jumbotron">
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Information about school</h2>
        <img src="~/Images/2014-02-11.jpg">
          
    </div>
    <div id="data" class="row">
        <div class="col-md-12">
            <table class="table-striped">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td class="name">Повна назва:</td>
                    <td>Бережанська загальноосвітня школа І-ІІІ ступенів №3 Бережанської міської ради Тернопільської області</td>
                </tr>
                <tr>
                    <td class ="name">Скорочена:</td>
                    <td>Бережанська ЗОШ №3</td>
                </tr>
              
                <tr>
                    <td class="name">Тип ЗНЗ:</td>
                    <td>Загальноосвітня школа</td>
                </tr>
                <tr>
                    <td class="name">Ступiнь:</td>
                    <td>I-III</td>
                </tr>
                <tr>
                    <td class="name">Форма власності:</td>
                    <td>комунальна</td>
                </tr>
                <tr>
                    <td class="name">Тип місцевості:</td>
                    <td>	міська</td>
                </tr>
                <tr>
                    <td class="name">Індекс:</td>
                    <td>47501</td>
                </tr>
                <tr>
                    <td class="name">Поштова адреса:</td>
                    <td>Україна, Тернопільська область, Бережанський район, м.Бережани, сад Садова, 5</td>
                </tr>
                <tr>
                    <td class="name">Телефони:</td>
                    <td>(03548)21545</td>
                </tr>
                <tr>
                    <td class="name">E-mail:</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="name">ЗНЗ на порталі «Мої знання»:</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="name">Директор:</td>
                    <td>Гринкевич Володимир Миронович</td>
                </tr>
                <tr>
                    <td class="name">Мова навчання:</td>
                    <td>українська</td>
                <tr>
                    <td class="name">Профілі навчання:</td>
                    <td>Іноземної філології; Фізико-математични</td>
                </tr>
                <tr>
                    <td class="name">Нормативна наповнюваність:</td>
                    <td> 1200 </td>
                </tr>
                <tr>
                    <td class="name">Кількість учнів:</td>
                    <td>469</td>
                </tr>
                <tr>
                    <td class="name">Кількість персоналу:</td>
                    <td>61</td>
                </tr>
                <tr>
                    <td class="name">Кількість класів:</td>
                    <td>22</td>
                </tr>
                <tr>
                    <td class="name">Кількість приміщень:</td>
                    <td>50</td>
                </tr>
            </table>
        </div>
        </div>
    <!--    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
</div>