@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/Home.css" >
   

<div class="row">
    <div class="col-md-2">
        <h2>School Info</h2>
        <img src="~/Images/2014-02-11.jpg">
    </div>
        </div>
