@model IEnumerable<journal.Models.SubjectType>
@using Roles=journal.Helpers
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="data" class="row">
    <div class="col-md-12">
       @if (User.IsInRole(Roles.Roles.Admin)||User.IsInRole(Roles.Roles.Teacher) || User.IsInRole(Roles.Roles.Principle) || User.IsInRole(Roles.Roles.SuperAdmin))
       {
        <p>
            <a href="~/SubjectType/Create">Create new subject</a>
        </p>
       }
        <table class="table table-hover">
            <tr class="danger">
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                </th>
            </tr>
            @{ var counter = -1;}
            @foreach (var item in Model)
            {
                counter++;
                <tr class='@(counter%2==0?"success":"")'>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>                    
                    <td>
                        @if (User.IsInRole(Roles.Roles.Admin) || User.IsInRole(Roles.Roles.Principle) || User.IsInRole(Roles.Roles.SuperAdmin))
                        {
                        <a href="~/SubjectType/Edit/@item.ID">Edit</a> 
                        }
                        <a href="~/SubjectType/Details/@item.ID">Details</a> 
                        @if (User.IsInRole(Roles.Roles.Admin) || User.IsInRole(Roles.Roles.Principle) || User.IsInRole(Roles.Roles.SuperAdmin))
                        {
                        <a href="~/SubjectType/Delete/@item.ID">Delete</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
