@model journal.ViewModels.PointLevelViewModels
@using Roles=journal.Helpers
@{
    ViewBag.Title = "CreatePointLevel";
}

<h2>Create type of point</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <div class="form-group">
            <p class="col-md-2 col-sm-3 control-label">Name</p>
            <div class="col-md-10">
                <input class="form-control" type="text" name="Name" />
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "ErrorMessage help-block" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <p class="col-md-2 col-sm-3 control-label">Level</p>
            <div class="col-md-10">
                <input class="form-control" type="number" name="Level" />
                @Html.ValidationMessageFor(m => m.Level, null, new { @class = "ErrorMessage help-block" })
            </div>
        </div>
        <br />
        @if (User.IsInRole(Roles.Roles.SuperAdmin))
        {
            <div class="form-group">
                <p class="col-md-2 col-sm-3 control-label">School</p>
                <div class="col-md-10">
                    <select name="SelectedSchool" class="form-control">
                        <option></option>
                        @foreach (var c in Model.Schools)
                    {
                            <option value="@c.Value">@c.Text</option>
                        }
                    </select>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-sm-offset-3 col-md-10">
                <input id="btnSubmit" class="btn btn-default" type="submit" value="Submit">
            </div>
        </div>
    </fieldset>
}
<div>
    <a href="~/School/IndexPointLevel">Back to List</a>
</div>
