.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.has-error .form-control:focus {
    border-color: #953b39;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.has-error .form-control {
    border-color: #b94a48;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.form-control {
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.help-block {
    color: #b94a48;
}

.input-validation-error.form-control:focus {
    border-color: #953b39;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.input-validation-error.form-control {
    border-color: #b94a48;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}


.help-block {
    display: block;
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 15px;
}

.server-validation {
    color: #b94a48;
    padding-left: 100px;
}

    .server-validation ul {
        list-style-type: none;
    }
table{
    overflow: auto;
}
.point {
    display:block;
}
