@model journal.ViewModels.SubjectViewModels
    @using Roles= journal.Helpers
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name of Teacher
        </dt>

        <dd>
            @Model.SelectedTeacher
        </dd>

        <dt>
            Name of Subject
        </dt>

        <dd>
            @Model.SelectedSubjectType
        </dd>    
     </dl>
</div>
<p>
    @if (User.IsInRole(Roles.Roles.Admin) || User.IsInRole(Roles.Roles.Principle) || User.IsInRole(Roles.Roles.SuperAdmin))
    {
    <a href="~/Subject/Edit/@Model.ID">Edit</a>
    }
    <a href="~/Subject/Index">Back to List</a>
</p>

